body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
    background-image: url("Gaming\ Webiste\ pics/creed-bg.jpg");
}

/* start: global style rules */
h1, h2, h3, h4, h5 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    font-weight: 300;
    margin: 0.5em 0;
}

.form-bg {
    background: rgba(255,255,255,0.2);
    padding: 20px 20px;
    border-radius: 20px;
}

h1 {
    font-size: 5em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, label, strong {
    color: white;
    line-height: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 300;
}

.logo-img {
    /* width: 80px; */
    width: 100px;
    cursor: pointer;
}

.flex {
    display:flex;
    max-width: 1200px;
    /* margin: 0 auto; */
    /* padding: 0 15px; */
    justify-content: space-between;
}



.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
    background-color: #EA4335;
}

.badge.strategy {
    background-color: #c44914;
}

.badge.racing {
    background-color: #400fbd;
}

.badge.rpg,
.badge.adventure {
    background-color: #537690;
}

.badge.tournaments {
    background-color: #8e92b0;
}

.badge.premium-tournament {
    background-color: #ee1010;
    color: #a29696;
}

.shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
/* end: global style rules */

/* start: header styles */
header {
    background-color: #131313;
    /* padding: 20px 0; */
    position: relative;
    border-bottom: 1px solid #d10202;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #f70404;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fd0e0e;
    margin: 4px 0;
}

nav {
    text-align: left;
    /* margin-left: 890px; */
    /* margin-right: 60px; */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

#login-register-button {
    background-color: #f40c0c;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
    height: 7%;
    width: 12%;

}


/* end: header styles */

input, textarea, select, textarea , option, textarea::placeholder{
    background-color: rgb(126, 126, 126);
    color: white;
    font-size: 1.2rem;
  }

  option {
      color: white;
  }

/* start: footer styles */
footer {
    background-color: #252525;
    padding: 25px 0 20px;
}

footer small {
    color: #ddd;
    font-size: 0.9em;
}

footer small .footer-heart {
    font-size: 16px;
}

footer small a {
    color: #007BDC;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 12px;
}

footer ul li a {
    color: #ddd;
    font-size: 0.8em;
}
/* end: footer styles */

body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background: #d11c1c;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v9-content  {
	width: 975px;
	border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: 185px 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	position: relative;
}
.form-v9-content .form-detail {
    padding: 30px 135px 30px 100px;
	position: relative;
}
.form-v9-content .form-detail h2 {
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 16px 0 13px;
	margin-bottom: 55px;
}
.form-v9-content .form-detail h2::after {
	background: #fff;
	width: 73px;
	height: 3px;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.form-v9-content .form-row-total {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.form-v9-content .form-row {
    width: 45%;
}
.form-v9-content .form-detail .form-row-last {
	text-align: center;
}
.form-v9-content .form-detail .input-text {
	margin-bottom: 45px;
}
.form-v9-content .form-detail input {
	width: 100%;
    padding: 14.5px 0px 14.5px 30px;
    border: 2px solid #ccc;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    border-radius: 27.5px;
	-o-border-radius: 27.5px;
	-ms-border-radius: 27.5px;
	-moz-border-radius: 27.5px;
	-webkit-border-radius: 27.5px;
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2)
}
.form-v9-content .form-detail input:focus {
	border: 2px solid #999;
}
.form-v9-content .form-detail .register {
	background: #f25d5d;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 20px 0 73px 35px;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}
.form-v9-content .form-detail .register:hover {
	background: #d95252;
}
.form-v9-content .form-detail .form-row-last input {
	padding: 14px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e5e5e5;
  font-size: 16px;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #e5e5e5;
  font-size: 16px;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #e5e5e5;
  font-size: 16px;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #e5e5e5;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.form-v9-content {
	    margin: 185px 20px;
	}
}
@media screen and (max-width: 767px) {
	.form-v9-content .form-row-total {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
	}
	.form-v9-content .form-row {
		width: 100%;
	}
}
@media screen and (max-width: 575px) {
	.form-v9-content .form-detail {
	    padding: 30px 45px 30px 10px;
	}
}





* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  

